body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url('pokemonBg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#pokemon-info {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#pokemon-name {
  font-size: 2em;
  color: #ffcb05;
  text-shadow: 2px 2px #3b4cca;
  margin-bottom: 20px;
}

#pokemon-image {
  width: 150px;
  height: 150px;
  border: 2px solid #3b4cca;
  border-radius: 50%;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

#pokemon-info p {
  font-size: 1.2em;
  color: #333;
  margin: 10px 0;
}

#pokemon-height,
#pokemon-weight,
#pokemon-type,
#pokemon-abilities {
  background-color: #ffcb05;
  border: 2px solid #3b4cca;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  color: #3b4cca;
  font-weight: bold;
}